@model MarvelCatalog_App.Areas.Admin.Models.CharactersAdminViewModel
@{
    ViewBag.Title = "RemoveCharacter";
}

<div class="container" *ngFor="let crimeMovie of crimeMovies">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("RemoveCharacterFromDb", "CharactersAdministration", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { id = "Name", @class = "form-control" })
                    </div>
                    <br />
                    <div class="text-center">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-info form-control">Add Character</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

