
@{
    ViewBag.Title = "SearchPartial";
}

@using (Html.BeginForm("SearchComicByName", "ComicsAdministration", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin-bottom: 60px; margin-top: 50px;">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
                <input type="text" class="form-control" id="txt" name="name" />
            </div>
        </div>
    </div>
}

