
@{
    ViewBag.Title = "MainCharactersPage";
}

<h2>MainCharactersPage</h2>

@foreach (var character in ViewBag.Characters)
{
    <div class="jumbotron">
        <h1 class="display-3">@character.Name</h1>
        <img src="@character.Thumbnail" style="width: 400px; height: 600px;">
    </div>
}


